1) Crear una lista con los números del 1 al 100 que sean múltiplos de 4. Utilizar la función
range.

In [ ]:
lista_numeros = list(range(4,101,4))
print(lista_numeros)

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68, 72, 76, 80, 84, 88, 92, 96, 100]

2) Crear una lista con cinco elementos (colocar los elementos que más te gusten) y mostrar el
penúltimo.

In [8]:
lista_animales = ["perro", "gato", "toro", "perico", "canario"]
print(lista_animales[3])

perico

3) Crear una lista vacía, agregar tres palabras con append e imprimir la lista resultante por
pantalla.

In [7]:
frutas= []
frutas.append("Manzana")
frutas.append("Banana")
frutas.append("Uvas")
print(frutas)

['Manzana', 'Banana', 'Uvas']

4) Reemplazar el segundo y último valor de la lista “animales” con las palabras “loro” y “oso”,
respectivamente. Imprimir la lista resultante por pantalla.

In [9]:
lista_animales[1]="loro"
lista_animales[4]="oso"
print(lista_animales)

['perro', 'loro', 'toro', 'perico', 'oso']

5) Analizar el siguiente programa y explicar con tus palabras qué es lo que realiza
numeros = [8, 15, 3, 22, 7]
numeros.remove(max(numeros))
print(numeros)

En el programa anterior los primero que se hace es declarar la lista numeros con 5 elementos en su interiror. Luego a la lista se aplica el método remove para eliminar uno de los elementos de la lista, pero en este caso no si utilizan los índices para indicar que elemento eliminar de la lista, sino que se utiliza la función max() para eliminar el elemento mas grande de la lista, sin importar en que índice se encuentre. Para finalizar se imprime la lista resultante

6) Crear una lista con números del 10 al 30 (incluído), haciendo saltos de 5 en 5 y mostrar por
pantalla los dos primeros.

In [13]:
lista_numeros = list(range(10,31,5))
print(lista_numeros[0:2])

[10, 15]

7) Reemplazar los dos valores centrales (índices 1 y 2) de la lista “autos” por dos nuevos valores
cualesquiera.

In [14]:
autos = ["sedan", "polo", "suran", "gol"]
autos[1]="Kwid"
autos[2]="virtus"
print(autos)

['sedan', 'Kwid', 'virtus', 'gol']

8) Crear una lista vacía llamada "dobles" y agregar el doble de 5, 10 y 15 usando append
directamente. Imprimir la lista resultante por pantalla.

In [16]:
dobles=[]
dobles.append(5*2)
dobles.append(10*2)
dobles.append(15*2)
print(dobles)

[10, 20, 30]

9) Dada la lista “compras”, cuyos elementos representan los productos comprados por
diferentes clientes:

compras = [["pan", "leche"], ["arroz", "fideos", "salsa"],["agua"]]

a) Agregar "jugo" a la lista del tercer cliente usando append.

b) Reemplazar "fideos" por "tallarines" en la lista del segundo cliente.

c) Eliminar "pan" de la lista del primer cliente.

d) Imprimir la lista resultante por pantalla

In [ ]:
compras = [["pan", "leche"], ["arroz", "fideos", "salsa"],["agua"]]
compras[2].append("jugo")
compras[1][1]= "tallarines"
compras[0].remove("pan")
print(compras)

[['leche'], ['arroz', 'tallarines', 'salsa'], ['agua', 'jugo']]

10) Elaborar una lista anidada llamada “lista_anidada” que contenga los siguientes elementos:

● Posición lista_anidada[0]: 15

● Posición lista_anidada[1]: True

● Posición lista_anidada[2][0]: 25.5

● Posición lista_anidada[2][1]: 57.9

● Posición lista_anidada[2][2]: 30.6

● Posición lista_anidada[3]: False

Imprimir la lista resultante por pantalla.

In [38]:
lista_anidada=[]
lista_2=[]
lista_3=[]
lista_anidada.append(15)
lista_anidada.append("True")
lista_anidada.append(lista_2)
lista_anidada[2].append(25.5)
lista_anidada[2].append(57.9)
lista_anidada[2].append(30.6)
lista_anidada.append(lista_3)
lista_anidada[3].append("False")

print(lista_anidada)

[15, 'True', [25.5, 57.9, 30.6], ['False']]